html {
  background: #527D99;
}

.container {
  max-width: 450px;
}

/* Overwrites */
.button.is-large {
  width: 27.5vw;
  height: 27.5vw;
  font-size: 12vw;
  border-radius: 0;
}

/* Header */
.hero-body {
  padding: 30px 15px;
}

.title {
  font-size: 9vw;
}

/* Score board */
.score-board {
  padding: 30px 15px;
}

.score-board .tag {
  font-size: 3.3vw;
  font-family: 'Press Start 2P', cursive;
}

/* Play area */
.play-area {
  padding: 0 15px 30px 15px;
}

.play-area h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 4.4vw;
  color: #fff;
}

.player-hand, .computer-hand {
  width: 31vw;
  height: 31vw;
  border-radius: 50%;
  line-height: 31vw;
  border: 3px solid #fff;
  text-align: center;
}

.player-hand span, .computer-hand span {
  font-size: 15vw;
  color: #209cee;
}

.player-hand span:first-of-type, .computer-hand span:first-of-type {
  display: none;
}

.versus {
  font-family: 'Press Start 2P', cursive;
  font-size: 6vw;
  color: #fff;
}

/* Notification area */
.notification-area {
  padding: 0 15px 30px 15px;
}

.notification {
  font-family: 'Press Start 2P', cursive;
  font-size: 4vw;
  color: #fff;
  text-align: center;
  border-style: solid;
  padding: 10px;
}

/* Choices */
.choices {
  padding: 0 15px 30px 15px;
}

/* Footer */
.footer {
  padding: 15px;
  background-color: #527D99;
  color: #fff;
  font-size: 4vw;
}

.footer a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Helpers */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.justify-content-space-between {
  justify-content: space-between !important;
}

.align-items-center {
  align-items: center;
}

.border-gradient {
  border-image-slice: 1;
  border-width: 3px;
}

.border-gradient-blue {
  border-image: linear-gradient(to left, #d0eafb, #209cee);
}

/* Media queries */
@media screen and (min-width: 480px) {
  .title {
    font-size: 43.11px;
  }
  .score-board .tag {
    font-size: 15.807px;
  }
  .play-area h2 {
    font-size: 21.076px;
  }
  .versus {
    font-size: 28.74px;
  }
  .player-hand, .computer-hand {
    width: 148.484px;
    height: 148.484px;
    line-height: 148.484px;
  }
  .player-hand span, .computer-hand span {
    font-size: 71.85px;
  }
  .notification {
    font-size: 19.16px;
  }

  
  .button.is-large {
    width: 142px; 
    height: 142px;
    font-size: 70px;
  }
  .footer {
    font-size: 16px;
  }
}