.title {
  font-size: 8vw;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mx-left {
  margin-left: auto;
}

.mx-right {
  margin-right: auto;
}

.figure {
  max-width: 200px;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-space-between {
  justify-content: space-between !important;
}

.align-items-center {
  align-items: center;
}

.versus {
  font-family: 'Press Start 2P', cursive;
  font-size: 7vw;
  color: #fff;
}

.play-area h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 4vw;
  color: #fff;
}

.player-draw, .computer-draw {
  width: 32vw;
  height: 32vw;
  border-radius: 50%;
  line-height: 32vw;
  border: 1vw solid #fff;
  text-align: center;
}

.player-draw span, .computer-draw span {
  font-size: 15vw;
  color: #209cee;
}

.player-draw span:first-of-type, .computer-draw span:first-of-type {
  display: none;
}

.notification-area {
  padding: 0 8vw 16vw 8vw;
}

.notification-body {
  font-family: 'Press Start 2P', cursive;
  font-size: 4vw;
  color: #fff;
  text-align: center;
  border: 1vw solid #fff;
  padding: 2vw;
}

.border-gradient {
  border-image-slice: 1;
  border-width: 1vw;
}
.border-gradient-purple {
  border-image: linear-gradient(to left, #d0eafb, #209cee);
}

.play-area {
  padding: 0 8vw 16vw 8vw;
}

.score-board .tag {
  font-size: 3vw;
  font-family: 'Press Start 2P', cursive;
}

.score-board {
  padding: 16vw 8vw;
}

.hero-body {
  padding: 16vw 8vw;
}

.choices {
  padding: 0 8vw 16vw 8vw;
}

.button.is-large {
  width: 25vw;
  height: 25vw;
  font-size: 10vw;
  border-radius: 5px;
}

.footer {
  padding: 8vw 8vw;
  background-color: #527D99;
  color: #fff;
  font-size: 4vw;
}

.footer a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}