html {
  background: #527D99;
}

/* Overwrites */
.button.is-large {
  width: 25vw;
  height: 25vw;
  font-size: 10vw;
  border-radius: 5px;
}

/* Header */
.hero-body {
  padding: 10vw 5vw;
}

.title {
  font-size: 8vw;
}

/* Score board */
.score-board {
  padding: 10vw 5vw;
}

.score-board .tag {
  font-size: 3vw;
  font-family: 'Press Start 2P', cursive;
}

/* Play area */
.play-area {
  padding: 0 5vw 10vw 5vw;
}

.play-area h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 4vw;
  color: #fff;
}

.player-draw, .computer-draw {
  width: 31vw;
  height: 31vw;
  border-radius: 50%;
  line-height: 31vw;
  border: 1vw solid #fff;
  text-align: center;
}

.player-draw span, .computer-draw span {
  font-size: 15vw;
  color: #209cee;
}

.player-draw span:first-of-type, .computer-draw span:first-of-type {
  display: none;
}

.versus {
  font-family: 'Press Start 2P', cursive;
  font-size: 6vw;
  color: #fff;
}

/* Notification area */
.notification-area {
  padding: 0 5vw 10vw 5vw;
}

.notification-body {
  font-family: 'Press Start 2P', cursive;
  font-size: 4vw;
  color: #fff;
  text-align: center;
  border: 1vw solid #fff;
  padding: 2vw;
}

/* Choices */
.choices {
  padding: 0 5vw 10vw 5vw;
}

/* Footer */
.footer {
  padding: 8vw 8vw;
  background-color: #527D99;
  color: #fff;
  font-size: 4vw;
}

.footer a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Helpers */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.justify-content-space-between {
  justify-content: space-between !important;
}

.align-items-center {
  align-items: center;
}

.border-gradient {
  border-image-slice: 1;
  border-width: 1vw;
}

.border-gradient-blue {
  border-image: linear-gradient(to left, #d0eafb, #209cee);
}

/* Media queries */
@media screen and (min-width: 769px) {
  
}